<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/register" method="post"></form>
    <section>
        <div class="container_form">
            
                <ul>
                    <li>
                        <label>ID</label>
                        <input type="text" name='id' required>
                    </li>
                    <li>
                        <label>PW</label>
                        <input type="password" name="pw" required>
                    </li>
                    
                </ul>
                <input type="submit" value="로그인">
        
        </div>

    </section>
</body>
</html>