<form action="/" method = "post">
    <label for="ID">ID:</label><br>
    <input type="text" id="id" name="id"><br>
    <label for="PW">PW:</label><br>
    <input type="text" id="pwd" name="pwd">

    <button id="submit" >로그인</button>
</form>
